<% if @user_or_book == "1" %>

<h2>Users search for  <strong><%= @search %></strong></h2>

    <table div class="table">
        <% @users.each do |user| %>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
            </tr>
            <tr>
            	<td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
            	<td><%= link_to user.name, user_path(user.id) %></td>
            </tr>
        </thead>
        <% end %>
    </table>

<% elsif @user_or_book == "2" %>

<h2>Books search for  <strong><%= @search %></strong></h2>

    <table div class="table">
    	<% @books.each do |book| %>

        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
            <tr>
            	<td><%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
            	<td><%= book.title %></td>
            	<td><%= book.body %></td>
            </tr>
        </thead>
    	<% end %>
    </table>

<% end %>